<div [ngClass]="classes">
    <!-- <div class="select-label" tabindex="1">
      <app-typography fontSize="1em" color="var(--color-input-value)">{{ label }}</app-typography>
    </div> -->
   
    <div class="select-box" (click)="onClicked($event)">
      <div [ngClass]="selectedClass">
        <div class="select-value">
          <app-typography fontSize="1em" color="#27233E">{{ valuePlaceholder }}</app-typography>
        </div>
        <div class="select-icon">
          <mat-icon>{{ icon }}</mat-icon>
        </div>
      </div>
      <div class="options-container" [ngClass]="opened === true ? 'active' : ''">
        <div
          class="option"
          [ngClass]="opened === true ? 'active' : ''"
          *ngFor="let item of items"
          (click)="optionClicked(item)"
        >
          <app-typography fontSize="1em" color="var(--color-input-value)">{{ item.name }}</app-typography>
        </div>
      </div>
      <ng-container *ngIf="error" class="error-text">
        <app-typography fontSize="1em" color="var(--color-error)">{{ error }}</app-typography>
      </ng-container>
    </div>
  </div>