.select {
  display: flex;
  flex-direction: column;
}

.select-label {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}

.select-box .options-container {
  background: #ffffff;
  border: 1px solid var(--color-border-components);
  color: var(--color-input-value);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  max-height: 0;
  width: 100%;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;
}

.selected {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-placeholder);
  background: #ffffff;
  border: 1px solid var(--color-border-components);
  border-radius: 8px;
  display: flex;
  justify-content: space-between; // Esto distribuirá los elementos a los extremos del contenedor
  align-items: center; // Esto centrará verticalmente los elementos

  &.error {
    border-color: var(--color-error)!important;
  }

  &.highlight {
    color: var(--color-placeholder);
    background: #ffffff;
  }

  &.base {
    color: var(--color-placeholder);
    background: var(--color-border-components);
  }

  &.value {
    color: var(--color-input-value);
  }

  .select-value {
  }
   
  .select-icon {
  }
}

.select-box .options-container.active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
  position: absolute;
  z-index: 2; // Ajusta este valor según sea necesario
}

.select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: var(--color-scrollbar);
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 16px;
  cursor: pointer;
}

.select-box .option:hover {
  background: var(--color-input-value);
}

.select-box label {
  cursor: pointer;
}

.error-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}
