$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
 
$breakpoint: (
  mobile: 480px,
  mobile-lg: 576px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1366px,
  desktop-lg: 1440px,
  desktop-xl: 1920px,
);
 
@mixin maxquery($display) {
  @each $key, $value in $breakpoint {
    //  defining min-width
    @if ($display == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}
 
@mixin minquery($display) {
  @each $key, $value in $breakpoint {
    //  defining max-width
    @if ($display == $key) {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}