
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$apposmv-primary: mat.define-palette(mat.$indigo-palette);
$apposmv-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$apposmv-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$apposmv-theme: mat.define-light-theme((
  color: (
    primary: $apposmv-primary,
    accent: $apposmv-accent,
    warn: $apposmv-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($apposmv-theme);

/* You can add global styles to this file, and also import other style files */
@import './breakpoints.scss';

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-primary: #01A189;
  --color-secondary: #AC3B93;
  --color-tertiary: #132042;
  --color-tertiary-light: #1f3366;
  --color-tertiary-light2: #2c4482;
  --color-pueple-black: #27233E;
  --color-button-reset: #132042;
  --color-font-base: #000000;
  --color-placeholder: #cccccc;
  --color-scrollbar-thumb: #707070;
  --color-scrollbar: #4b4b4b;
  --color-border-components: #f6f6f6;
  --color-input-value: #0d0d0d;
  --color-error: #f6323e;
  --color-detail-item: #81807F;
  --color-disable: #C6C6C6;
  --color-white: #ffffff;
  --color-border-gray: #c5c0c0;
}